@import kdfn

darkColor        = #1E2527
lightColor       = #2E3537
kodingGreenColor = light-green //#72a372 //#1aaf5d
kodingGreenRGBA  = rgba(26, 175, 93, 0.3)

body
  width               100%
  height              100%
  background          white
  -webkit-font-smoothing 'subpixel-antialiased'

